{
    "sourceType": "unambiguous",
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current",
                    "browsers": [
                        "last 2 versions",
                        "ie >= 11"
                    ]
                },
                "useBuiltIns": "usage",
                "corejs": 3
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "regenerator": true,
                "corejs": 3
            }
        ],
        "@babel/plugin-transform-class-properties",
        "@babel/plugin-transform-object-rest-spread",
        "@babel/plugin-transform-optional-chaining",
        "@babel/plugin-transform-nullish-coalescing-operator",
        "@babel/plugin-transform-private-methods"
    ]
}