[submodule "tooling"]
	path = tooling
	url = https://github.com/fantajeon/tooling.git
[submodule "handlebars-helpers"]
	path = handlebars-helpers
	url = https://github.com/fantajeon/handlebars-helpers.git
